CSPong/Projects/iOS/XcodeBuiltAssets
CSPong/Projects/iOS/CSPong.xcodeproj/xcuserdata
CSPong/Projects/iOS/CSPong.xcodeproj/project.xcworkspace
CSPong/Projects/Android/cspong/local.properties
CSPong/Projects/Android/cspong/.gradle
CSPong/Projects/Android/cspong/app/build
CSPong/Projects/Android/cspong/app/src/main/assets
CSPong/Projects/Android/cspong/app/src/main/obj
CSPong/Projects/Android/cspong/app/src/main/libs/armeabi-v7a
CSPong/Projects/Android/cspong/app/src/main/libs/armeabi
CSPong/Projects/Android/cspong/app/src/main/libs/x86
CSPong/Projects/Android/cspong/build
CSPong/Projects/Android/cspong/.idea/workspace.xml
CSPong/Projects/Android/cspong/.idea/libraries
*.suo
*.opensdf
CSEmptyTemplate/Projects/Windows/csobj
CSEmptyTemplate/Projects/Windows/csbin
CSEmptyTemplate/Projects/Windows/bin
CSEmptyTemplate/Projects/Windows/obj
*.sdf
CSPong.vcxproj.user
CSPong/Projects/Windows/bin
CSPong/Projects/Windows/csbin
CSPong/Projects/Windows/csobj
CSPong/Projects/Windows/obj
Thumbs.db
*.pyc
*.opendb
