CSPong/Projects/iOS/XcodeBuiltAssets
CSPong/Projects/iOS/CSPong.xcodeproj/xcuserdata
CSPong/Projects/iOS/CSPong.xcodeproj/project.xcworkspace
CSPong/Projects/Android/assets
CSPong/Projects/Android/bin
CSPong/Projects/Android/gen
CSPong/Projects/Android/libs
CSPong/Projects/Android/obj
CSEmptyTemplate/Projects/iOS/CSEmptyTemplate.xcodeproj/project.xcworkspace
CSEmptyTemplate/Projects/iOS/CSEmptyTemplate.xcodeproj/xcuserdata
CSEmptyTemplate/Projects/iOS/XcodeBuiltAssets
*.suo
*.opensdf
CSEmptyTemplate/Projects/Windows/csobj
CSEmptyTemplate/Projects/Windows/csbin
CSEmptyTemplate/Projects/Windows/bin
CSEmptyTemplate/Projects/Windows/obj
*.sdf
CSEmptyTemplate/Projects/Android/libs
CSEmptyTemplate/Projects/Android/obj
CSEmptyTemplate/Projects/Android/assets
CSEmptyTemplate/Projects/Android/bin
CSEmptyTemplate/Projects/Android/gen
