{
  "DisplayableName": "CSPong",
  "PreferredFPS": 30,
  "PreferredSurfaceFormat": "RGB565_DEPTH24",
  "RPi": {
    "PreferredFPS": 60,
    "CursorType": "NonSystem"
  },
  "FileTags": {
    "Languages": [
      "en",
      "fr"
    ],
    "Resolutions": {
      "high": "1280 720",
      "med": "480 320",
      "low": "0 0"
    },
    "AspectRatios": {
      "wide": 1.55,
      "stdland": 1,
      "stdport": 0.64,
      "tall": 0
    },
    "Priorities": [
      "Platform",
      "Resolution",
      "AspectRatio",
      "Language"
    ]
  }
}