{
  "DisplayableName": "CSRunner",
  "PreferredFPS": 30,
  "PreferredSurfaceFormat": "RGB565_DEPTH24",
  "Android": {
    "GooglePlay": {
      "RequiresGooglePlayServices": true
    },
    "Kindle": {}
  },
  "iOS": {},
  "Windows": {
    "PreferredFPS": 60,
    "PreferredSurfaceFormat": "RGB888_DEPTH32",
    "Multisample": "4x",
    "WindowDisplayMode": "Windowed"
  },
  "RPi": {
    "PreferredFPS": 60,
    "CursorType": "NonSystem",
    "WindowDisplayMode": "Windowed"
  },
  "FileTags": {
    "Languages": [
      "en",
      "fr"
    ],
    "Resolutions": {
      "high": "1280 720",
      "med": "480 320",
      "low": "0 0"
    },
    "AspectRatios": {
      "wide": 1.55,
      "stdland": 1,
      "stdport": 0.64,
      "tall": 0
    },
    "Priorities": [
      "Platform",
      "Resolution",
      "AspectRatio",
      "Language"
    ]
  }
}